<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <link th:href="@{/static/queue/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/queue/swiper.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/layer/skin/layer.css}" rel="stylesheet" type="text/css"/>
    <title>排队号码查询</title>
</head>

<body>
<p th:text="${info.msg}" id="msg" style="display: none"></p>
<p th:text="${info.patientId}" id="patientId" style="display: none"></p>
<p th:text="${info.hospitalCode}" id="hospitalCode" style="display: none"></p>
<p th:text="${info.accessionNo}" id="accessNo" style="display: none"></p>
<div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-active">
            <div class="queueInfo" th:if="${info.checkStatus =='签到'}">
                <div class="title" th:text="${info.patientName}"></div>
                <div>当前号码：<span class="emphasize" th:text="${info.queueNo}"></span></div>
                <div>我的号码：<span class="emphasize" th:text="${info.callId}"></span></div>
                <div>检查项目：<span class="emphasize" th:text="${info.scheduledModality}"></span></div>
                <div>检查时间：<span class="emphasize" th:text="${info.scheduledDate}"></span>
                    <span class="emphasize" th:text="${info.medcine}"></span></div>
                <div>您前面还有<span class="emphasize" th:text="${info.beforeNum}">3</span>位在等候 请提早到<span class="emphasize"
                                                                                                     th:text="${info.callRoom}"></span>检查
                </div>

                <div>备注：签到、查报告，体验更多功能，请关注下方公众号</div>
            </div>
            <div class="queueInfo" th:if="${info.checkStatus !='签到'}">
                <div class="title" th:text="${info.patientName}"></div>
                <!--<div>当前号码：<span class="emphasize" th:text="${info.queueNo}"></span></div>-->
                <div>我的号码：<span class="emphasize" th:text="${info.callId}"></span></div>
                <div>检查项目：<span class="emphasize" th:text="${info.scheduledModality}"></span></div>
                <div>检查时间：<span class="emphasize" th:text="${info.scheduledDate}"></span>
                    <span class="emphasize" th:text="${info.medcine}"></span></div>
                <div>您还未签到，请点击下方签到按钮</div>

            </div>
            <!--<div class="queueInfo" th:if="${info.isStart ==0}">-->
            <!--<div class="title" th:text="${info.name}"></div>-->
            <!--<div>检查日期：<span class="emphasize" th:text="${info.checkDate}"></span></div>-->
            <!--<div>检查项目：<span class="emphasize" th:text="${info.modality}"></span></div>-->
            <!--<div>当前日期：<span class="emphasize" th:text="${info.today}"></span></div>-->
            <!--<div>请在<span class="emphasize" th:text="${info.time}"></span>天后到<span class="emphasize"-->
            <!--th:text="${info.hospitalName}"></span>检查-->
            <!--</div>-->
            <!--<div>备注：该项检查时间还早，关注下方公众号届时检查可一键签到</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div class="swiper-pagination swiper-pagination-clickable" id="pagination">
</div>
</div>
<button class="refreshBtn" th:if="${info.checkStatus =='签到'}">
    刷新
</button>
<button class="signIn" th:if="${info.checkStatus !='签到'}">
    一键签到
</button>
<div class="qrContain">
    <img id="qrImg" class="qrImg" src="" alt=""/>
    <button id="loadQR" class="loadQR">点我</br>关注公众号</button>
    <div id="qrText1" class="qrText">关注公众号<br>过号推送提醒</br>预约情况排队情况实时查看</div>
</div>
<div class="logo_div">
    Powered By Zhejiang Kayi Smart Health Technology Co.,LTD
</div>
<script th:src="@{/static/queue/swiper.min.js}"></script>
<script th:src="@{/static/queue/index.js}" charset="utf-8"></script>
<script th:src="@{/static/jquery/jquery-3.2.1.min.js}" charset="utf-8"></script>
<script th:src="@{/static/layer/layer.js}" charset="utf-8"></script>
<script>
    var patientId = $("#patientId").text();
    var hospitalCode = $("#hospitalCode").text();
    var accessNo = $("#accessNo").text();
    $(document).ready(function () {
        document.getElementById("qrImg").style.display = 'none';
        var msg = $("#msg").text();
        if (msg){
            layer.alert(msg+"，请到护士台重新刷卡")
            $(".signIn").attr("disabled",true)
        }
        document.getElementById('loadQR').addEventListener("click", () => {
            // document.getElementById('loadQR').style.opacity = '0';
            gz().then(e => {
                if (e.success) {
                    window.location.href = "https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzU5MzY2NTIxMQ==#wechat_redirect"
                } else {
                    return createQrCode();
                }
            }).then(res => {
                let qrPath = res;
                document.getElementById("loadQR").style.display = 'none';
                document.getElementById("qrImg").src = qrPath;
                document.getElementById("qrImg").style.display = 'block';
                document.getElementById('qrText1').innerHTML = `长按二维码<br>识别关注`;
            }).catch(reject => {
                layer.alert(reject)
            });
            // var path ='${pageContext.request.scheme}://${pageContext.request.serverName}:${pageContext.request.serverPort}${pageContext.request.contextPath}';
            // $.post('/getQueueInfo', {accessNo: access}, function (e) {
            //     if (e.success) {
            //     }
            // })
        })
    })
    //刷新
    $(".refreshBtn").click(function (e) {
        window.location.reload();
        // window.location.href="/checkQueue?accessNo="+access+"&hospitalCode="+hospitalCode;
    })
    $(".signIn").click(function (e) {
        $.ajax({
            url: '/api/checkSignIn',
            data: JSON.stringify({accessionNo: accessNo, hospitalCode: hospitalCode}),
            method: 'POST',
            contentType: "application/json;charset=utf-8",
            success: function (e) {
                if (e.success){
                    layer.msg("签到成功！")
                    setTimeout(function (e) {
                        window.location.reload();
                    },1500)
                }else {
                    layer.alert("签到失败！请到护士台刷卡签到")
                    layer.closeAll();
                }
            }
        })
    })

    function gz() {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '/api/getOpenId',
                data: JSON.stringify({patientId: patientId, hospitalCode: hospitalCode}),
                method: 'POST',
                contentType: "application/json;charset=utf-8",
                success: function (e) {
                    resolve(e)
                },
                fail: function (e) {
                    reject(e)
                }
            })

        })
    }

    function createQrCode() {
        return new Promise((resolve, reject) => {
            layer.load(1);
            //生成二维码
            $.ajax({
                url: '/createCode',
                data: JSON.stringify({patientId: patientId, hospitalCode,accessNo: accessNo}),
                method: 'POST',
                contentType: "application/json;charset=utf-8",
                success: function (e) {
                    layer.closeAll();
                    if (e.success) {
                        resolve(e.obj)
                    } else {
                        layer.msg(e.msg)
                    }
                },
                error: function (e) {
                    reject(e)
                }
            })
        })
    }

    // function gz() {
    //     $.post('/getOpenId', {accessNo: access}, function (e) {
    //         //关注过公众号则直接跳转
    //         if (e.success) {
    //             if (e.obj) {
    //                 window.location.href = "https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA3NTM5NTAxOQ==#wechat_redirect"
    //             } else {
    //                 //生成二维码
    //                 $.post('/createCode', {accessNo: access}, function (e) {
    //                     let qrPath = e.obj;
    //                     document.getElementById("loadQR").style.display = 'none';
    //                     document.getElementById("qrImg").src = qrPath;
    //                     document.getElementById("qrImg").style.display = 'block';
    //                     document.getElementById('qrText1').innerHTML = `长按二维码<br>识别关注`;
    //                 })
    //             }
    //         } else {
    //             alert("出故障啦！")
    //         }
    //     })
    // }
</script>
</body>
</html>
