<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>获取参数页面</title>
</head>
<body>
<!--<div style="text-align: center">-->
    <!--<button class="gz" onclick="gz()" style="font-size: 80px">关注公众号</button>-->
<!--</div>-->

<div th:each="user,iterStat: ${users}" class="test">
    <span th:text="${user.hospitalCode}"></span>
    <span th:text="${user.hospitalName}"></span>
</div>
<div onclick="gz()">关注</div>
</body>
<script th:src="@{/static/jquery/jquery-3.2.1.min.js}" charset="utf-8"></script>
<script>
    window.onload=function () {

    }
    function gz() {

    }
</script>
</html>
